@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:	#f8c806;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}





.fejresz {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}

.fejresz .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.fejresz .logo span {
  color: var(--yellow);
}

.fejresz .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}

.fejresz .navbar a:hover {
  color: var(--yellow);
}

.fejresz .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}

.fejresz .icons div:hover {
  background: var(--black);
  color: var(--white);
}

.fejresz #menu-btn {
  display: none;
}



.kapcs-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.kapcs-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.kapcs-info #close-kapcs-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}

.kapcs-info #close-kapcs-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.kapcs-info .info {
  padding: 2rem 0;
}

.kapcs-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: .5rem;
}

.kapcs-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.kapcs-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.kapcs-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.kapcs-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.kapcs-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 .3rem;
}

.kapcs-info .share a:hover {
  background: var(--black);
  color: var(--white);
}










.home {
  padding: 0;
}

.home .kep {
  min-height: 60rem;
display: flex;
 
   
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .kep::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .kep .content {
  width: 50rem;
  position: relative;
}

.home .kep .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .kep .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}





