
.rolunk .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    gap: 3rem;
  }
  
  .rolunk .row .video {
    
        -ms-flex: 1 1 41rem;
            flex: 1 1 41rem;
  }
  
  .rolunk .row .video video {
    width: 100%;
  }
  
  .rolunk .row .content {
   
        -ms-flex: 1 1 41rem;
            flex: 1 1 41rem;
  }
  
  .rolunk .row .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    text-transform: capitalize;
  }
  
  .rolunk .row .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding: 1rem 0;
  }
  
  .rolunk .box-container {
    margin-top: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
   
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .rolunk .box-container .box {
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
  }
  
  .rolunk .box-container .box h3 {
    font-size: 4rem;
    color: var(--black);
    text-transform: capitalize;
  }
  
  .rolunk .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding-top: .5rem;
  }
  