.szolgaltatasok {
    background: var(--light-bg);
  }
  
  .szolgaltatasok .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
  .szolgaltatasok .box-container .box {
    text-align: center;
    padding: 3rem;
    background: var(--white);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border: var(--border);
  }
  
  .szolgaltatasok .box-container .box:hover img {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  
  .szolgaltatasok .box-container .box img {
    height: 7rem;
    margin-bottom: .5rem;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .szolgaltatasok .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
  }
  
  .szolgaltatasok .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 2;
  }
  